@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --background: #f4f4f4;
  --foreground: #111827;
  --primary: #2563eb;
  --border: #000000;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}
